.hero {
    background-color: #495e57;
    display: flex;
    flex-wrap: wrap;
    padding: 1em 10% 2em 10%;
    flex-direction: row;
    justify-content: center;

}
.hero article{
    max-width: 450px;
}

button {
    border: none;
    font-size: 1em;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    background-color: #f4ce14;
    color: black;
    font-size: larger;
    font-weight: 700;
}

.hero h1{
    color:#f4ce14;
    font-size: xx-large;
}
.hero h4,p{
    color:white;
    max-width: 50%;
}
.hero img {
    border-radius: 15px;
    max-width:300px;
    /* margin: 10px; */
    position: relative;
    top: 10px;
}


.hero2 {
    /* background-color: #495e57; */
    display: flex;
    flex-wrap: wrap;
    padding: 1em 10% 2em 10%;
    flex-direction: row;
    justify-content: center;
    color: black;

}
.hero2 article{
    max-width: 450px;
}

button {
    border: none;
    font-size: 1em;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    background-color: #f4ce14;
    color: black;
    font-size: larger;
    font-weight: 700;
}

.hero2 h1{
    color:#f4ce14;
    font-size: xx-large;
}
.hero2 h4,p{
    color:black;
    max-width: 50%;
}
.hero2 img {
    border-radius: 15px;
    max-width:300px;
    /* margin: 10px; */
    position: relative;
    top: 10px;
}

