nav>section {
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width:600px) {
    nav>section {
        width: fit-content;
    }
    nav>section>ul{
        flex-direction: column;
    }
}

nav {
    display: flex;
    justify-content: center;
    margin: 30px;
}


nav>section>ul {
    display: flex;
    flex-wrap: wrap;
    min-width: 70%;
    justify-content: space-between;
    list-style: none;
}

.Link {
    margin: 10px;
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: 500;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 1100px) {
    .grid {
        grid-template-columns: 1fr 1fr ;
    }
}
/* Media query to change to 2-column grid on small screens */
@media (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr ;
    }
}